fastapi
uvicorn
requests
rembg
pillow
opencv-python
python-multipart
python-dotenv
torch
torchvision
torchaudio
diffusers>=0.31.0
transformers
accelerate
sentencepiece
tiktoken
protobuf
peft
mediapipe
